{% extends "base.html" %}

{% block main %}
<h1> MY PROFILE</h1>
<div class="card" id="ProfileCard">
    <div class="ProfileImageDiv"> 
        <img class="ProfileImage" src="/uploads/person.png" alt="My Picture">
    </div>

    <div class="ProfileInfoDiv">
        <div class="Names">
            <h3 class="ProfileName">Patrece Campbell</h3>
            <p class="Username">@patrece</p>
        </div>
        
        <div class="row">
            <div class="col">
                <p class="Age">20 years</p>
            </div>

            <div class="col">
                <p class="Gender">Female</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="Weight">Weight: 180 kg</p>
            </div>

            <div class="col">
                <p class="Height">Height: 5.5 ft</p>
            </div>
        </div>

        <div class="Regular-row">
            <p class="Allergies">Allergies: Peanuts</p>
        </div>

        <div class="Regular-row">
            <p class="Lifestyle">Dietary Lifestyle: Vegan</p>
        </div>

        <div class="Regular-row">
            <p class="Restrictions">Dietary Restrictions: Lactose Intolerance</p>
        </div>

        <div class="Regular-row">
            <p class="Goal">Goal: Lose Weight</p>
        </div>

        <div class="Regular-row">
            <p class="DailyCalories">Expected Daily Calories: 1600 Calories</p>
        </div>
 
    </div>
  
</div>
  

{% endblock %}
