{% extends "base.html" %}

{% block main %}
<h1> MY PROFILE</h1>
<div class="card" id="ProfileCard">
    <div class="ProfileImageDiv"> 
        <img class="ProfileImage" src="/uploads/{{user.photo}}" alt="My Picture">
    </div>

    <div class="ProfileInfoDiv">
        <div class="Names">
            <h3 class="ProfileName">{{user.firstname}} {{user.lastname}}</h3>
            <p class="Username">@{{user.username}}</p>
        </div>
        
        <div class="row">
            <div class="col">
                <p class="Age">{{user.age}} years</p>
            </div>

            <div class="col">
                <p class="Gender">{{user.gender}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p class="Weight">Weight: {{user.weight}} kg</p>
            </div>

            <div class="col">
                <p class="Height">Height: {{user.height}} ft</p>
            </div>
        </div>

        <div class="Regular-row">
            <p class="Allergies">Allergies: {{user.allergies}}</p>
        </div>

        <div class="Regular-row">
            <p class="Lifestyle">Dietary Lifestyle: {{user.dietarylifestyle}}</p>
        </div>

        <div class="Regular-row">
            <p class="Restrictions">Dietary Restrictions: {{user.dietaryrestrictions}}</p>
        </div>

        <div class="Regular-row">
            <p class="Goal">Goal: {{user.goal}}</p>
        </div>

        <div class="Regular-row">
            <p class="DailyCalories">Expected Daily Calories: {{user.dailycalories}} Calories</p>
        </div>
 
    </div>
  
</div>
  

{% endblock %}
